<div class="container">
  <h2>Update Property</h2>
  <form (ngSubmit)="updateProperty()">


<!--    <mat-form-field class="mb-3">-->
<!--      <mat-label>Property Name</mat-label>-->
<!--      <input matInput type="text" [(ngModel)]="propertyName" name="propertyName" required>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="mb-3">-->
<!--      <mat-label>Price</mat-label>-->
<!--      <input matInput type="number" [(ngModel)]="price" name="price" required>-->
<!--    </mat-form-field>-->

    <button mat-raised-button color="primary" type="submit">Update</button>
  </form>
</div>

